<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Today's earthquakes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [streetViewControl]="streetViewControl">

    <agm-marker *ngFor="let e of eqs.earthquakes" 
      [latitude]="e?.coordinates?.latitude" [longitude]="e?.coordinates?.longitude">

      <agm-info-window>
        {{e.title}}
      </agm-info-window>
    </agm-marker>

  </agm-map>

</ion-content>
